<div class="keyboard">
    <div>
        <input type="button" value="1" onclick="inputNumber(this)" />
        <input type="button" value="2" onclick="inputNumber(this)" />
        <input type="button" value="3" onclick="inputNumber(this)" />
    </div>
    <div>
        <input type="button" value="4" onclick="inputNumber(this)" />
        <input type="button" value="5" onclick="inputNumber(this)" />
        <input type="button" value="6" onclick="inputNumber(this)" />
    </div>
    <div>
        <input type="button" value="7" onclick="inputNumber(this)" />
        <input type="button" value="8" onclick="inputNumber(this)" />
        <input type="button" value="9" onclick="inputNumber(this)" />
    </div>
    <div>
        <input type="button" value="0" onclick="inputNumber(this)" />
    </div>
</div>
