@{
    ViewData["Title"] = "Balance Page";
}

<div class="content">
    <h1>Account Balance</h1>

    <div class="account-info">
        <h1>2222-2222-2222-2222</h1>
        <h3><span>Date:</span> 17/02/2024</h3>
        <h2><span>Balance:</span> 250.0$</h2>
    </div>

    <div class="control">
        <a class="control-item" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        <a class="control-item" asp-area="" asp-controller="Account" asp-action="Login">Exit</a>
    </div>
</div>
