@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h1>Menu</h1>

    <div class="control">
        <a class="control-item" asp-area="User" asp-controller="Home" asp-action="Balance">Balance</a>
        <a class="control-item" asp-area="User" asp-controller="Home" asp-action="Withdraw">Withdraw</a>
        <a class="control-item" asp-area="User" asp-controller="Home" asp-action="Logout">Exit</a>
    </div>
</div>
